
.main-body {
  background: url('image.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
}

.main-container {
  padding-top: 140px;
}

.spinner-border{
  z-index: 10;
}

.center-block {
  top:65%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  position: absolute;
  z-index: 10;

}


.heading {
  text-align: center;
  font-size: 70px;
  color: black;
  font-family: 'ZCOOL KuaiLe', cursive;
}

.para {
  font-family: 'ZCOOL KuaiLe', cursive;
  color: grey;
  text-align: center;
  font-size: 20px;
}



/* Pc in Minimum */
@media only screen and (max-width: 992px) {
  .main-container {
    padding-top: 80px;
  }
  .heading {
    font-size: 50px;
  }
  .para {
    font-size: 16px;
  }
}


/* phone*/
@media only screen and (max-width: 480px) {
  .main-container {
    padding-top: 50px;
  }
  .heading {
    font-size: 30px;
  }
  .para {
    font-size: 14px;
  }

}
